.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: aqua;
}
.Heading {
  margin-left: auto;
  transform: translateX(50%);
}
.customButton {
  margin-left: auto;
  margin-right: 20px;
  padding: 10px 15px;
  background-color: green;
  color: yellow;
}
.Search {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
}

.Search input {
  height: 50px;
  width: 800px;
  padding-left: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  margin: 0px auto;
  justify-content: center;
}
.Dog-card-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.Dog-card-container {
  flex: 0 0 max-content;
  padding: 10px;
  cursor: pointer;
}

.Dog-card-Name {
  text-transform: uppercase;
  text-align: center;
}

.Modal {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.329);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModalBody {
  height: 500px;
  width: 500px;
  position: relative;
  background-color: white;
}
.close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.ModalBody {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 20px;
  gap: 10px;
}
.singleSubBreedImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
